.maincontainer {
    background-image: url('https://images5.alphacoders.com/133/1338700.png');
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    width: 100%; /* Set the width to 100% */
    height: 70vh; /* Set the height to 100% of the viewport height */
  }
  .aboutparagraph{
    text-align: justify;
    line-height: 1.5rem;
    color:#575555
  }
  
  .aboutheading{
    color: orangered;
    font-weight: 700;
  
    padding-bottom: 35px;
  
  }
  
  
  .aboutheader{
  
    font-weight: 400;
    padding-top: 60px;
  
  }
  .aboutcontent{
    padding-top: 40px;
    padding-bottom: 40px;
  }  

  .aboutcontent img{
   border-radius: 50%;
  }  

  .transition-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .transition-image:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }