/* Container styling */
.containerproducts {
 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbarposition {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
  background-color: white; /* Add background color to navbar */
}

.content {
  margin-top: 80px; /* Adjust this value based on the navbar height */
  overflow-y: auto;
  padding-top: 80px; /* Ensure content does not go behind navbar */
  position: absolute;
}

/* Header styling */
h3 {
  margin-bottom: 20px;
  color: #343a40;
  font-weight: bold;
}

/* Filter section styling */
.form-check {
  margin-bottom: 10px;
}

.form-check-label {
  margin-left: 5px;
  font-size: 1.1rem;
  color: #495057;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Product card styling */
.product-card {
  
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  height: 250px;
  object-fit: contain;
  padding: 30px 10px 0px 10px;
 
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card .card-body {
  background-color: #fff;
  text-align: center;
}

.product-card .card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.product-card .card-text {
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
}

/* Add-to-cart button styling */
.product-card .btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.product-card .btn:hover {
  background-color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.product-card {
  animation: fadeIn 0.5s ease-in-out;
}

.product-card .card-body {
  animation: slideUp 0.5s ease-in-out;
}

[role=tooltip].popup-content {
  width: 200px !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, .16) !important;
  border-radius: 5px !important;
}

.popup-content {
  margin: auto !important;
  background: #de3535 !important;
width: 100% !important;
  padding: 5px !important;
  border: 1px solid #d7d7d7 !important;
  color: white;

}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}