.product-item {
    text-align: center;
}

.product-image {
    width: 100%; /* Adjust the width as needed */
    height: 200px; /* Automatically adjust height based on width */
    object-fit: contain; /* Ensure images maintain aspect ratio and cover container */
    padding: 20px;
}

.product-title {
   
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
    text-align: center;
}

.category-button {
    width: 170px; /* Set button width to 200px */
    margin: 5px; /* Add margin to buttons */
    background-color: rgb(254, 251, 249);
    color: black;
    border: 2px solid black;
    height: 50px;
}
.category-button:hover {
   
    background-color: rgb(255, 102, 0);
    color: white;
    
}
.loadmorebutton{
    width: 180px;
    border-radius: 25px;
    background-color: rgb(255, 89, 29);
    color:rgb(255, 255, 255);
    height: 50px;
    border-style: none;

}
.loadmorebutton:hover{
    background-color: rgb(255, 68, 0);
    color: white;
}